* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
}
.qutular {
    height: 100px;
}

.bir {
    background-color: blue;
    flex: 1 0 200px;
}
.iki {
    background-color: red;
    flex: 1 0 200px;
}
.uc {
    background-color: green;
    flex: 1 0 200px;
}