* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
}
.bir,.iki,.uc {
    
    height: 50px;
}
.bir {
    background-color: blue;
    flex-grow: 1;
}
.iki {
    background-color: red;
    flex-grow: 1;
}
.uc {
    background-color: green;
    flex-grow: 1;
}