*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.bir {
    width: 90%;
    min-height: 200px;
    border: 5px solid black;
}
.iki {
    width: 90%;
    min-height: 200px;
    border: 5px solid black;
}
.uc {
    width: 90%;
    min-height: 200px;
    border: 5px solid black;
}
.dord {
    width: 90%;
    min-height: 200px;
    border: 5px solid black;
}
.bes {
    width: 90%;
    min-height: 200px;
    border: 5px solid black;
}
.alti  {
    width: 90%;
    min-height: 200px;
    border: 5px solid black;
}