 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --reng-qirmizi: #d02b27;
    --reng-yasil: #11ab08;
    --reng-goy: #5c70c8;
    --kicik-olcu: 22px;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(https://wall-mural-shop.com/cdn/shop/files/f972892546872539e5137d3354a9f31f_f09f0160-b6d3-4da8-872d-d7f25e12b90e.png?v=1746914421&width=1500);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header {
    width: 100%;
    height: 80px;
    background-color: gray;
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}
ul li {
    margin: 0 20px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.up {
    background-color: palevioletred;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.social {
    position: fixed;
    left: 0;
    top: 50%;
    background-color: var(--reng-qirmizi);
    height: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    transform: translate(0 -50%);
}
.social ul {
    display: flex;
    flex-direction: column;
}
.social ul li {
    margin: 10px 5px;

}
.social ul li a i {
    font-size: var(--kicik-olcu);
} 