/* .main{
    color:red;
    background-color:blue;
    border: 5px solid black;

    width: 200px;     
    height: 600px;
} */
/* 
b{
    border: 3px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
}


div{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid red;

}
 */
body{
    display: flex;
}

.main div{
    width: 100px;
    height: 100px;
    border: 3px solid red;

}